<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset | QinCast</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/header-logo.svg' %}"  type="image/svg+xml">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 

<!-- - google font link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&family=Quicksand:wght@400;500;600;700&display=swap"
  rel="stylesheet">
</head>
<body>

  <header class="header" data-header>
    <div class="container">

      <a href="/" class="logo">
        <img src="{% static 'img/header-logo.svg' %}" alt="Landio logo" width="40">
      </a>

      <button class="menu-toggle-btn" data-nav-toggle-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar">
        <ul class="navbar-list">

          <li>
            <a href="{% url 'home' %}" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="{% url 'aboutus' %}" class="navbar-link">About Us</a>
          </li>

          <li>
            <a href="{% url 'stockscreener' %}" class="navbar-link">Watchlist</a>
          </li>

          <!-- <li>
            <a href="#contact" class="navbar-link">Contact Us</a>
          </li> -->

        </ul>

        <div class="header-actions">
          {% if user.is_authenticated %}
          <button type="submit"><a href="/signout" class="header-action-link"> Log Out</a></button>
          {% else %}
          <button type="submit"><a href="/signup" class="header-action-link"> Register</a></button>
          <button type="submit"><a href="/signin" class="header-action-link"> Log In</a></button>
          {% endif%}
        </div>
      </nav>

    </div>
  </header>

  <section class="about">
    <div class="container">

      

      <p class="section-text">
        <br>
        Thank You! You should receive the email to reset your password shortly
      </p>
    </div>
  </section>


  <!-- - custom js link -->
  <script src="{% static 'js/script.js' %}"></script>
  <!-- - ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>