<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist | QinCast</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/header-logo.svg' %}"  type="image/svg+xml">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 

  <!-- - google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&family=Quicksand:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body>

    <header class="header" data-header>
        <div class="container">
    
          <a href="/" class="logo">
            <img src="{% static 'img/header-logo.svg' %}" alt="Landio logo" width="40">
          </a>
    
          <button class="menu-toggle-btn" data-nav-toggle-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
    
          <nav class="navbar">
            <ul class="navbar-list">
    
              <li>
                <a href="{% url 'home' %}" class="navbar-link">Home</a>
              </li>
    
              <li>
                <a href="{% url 'aboutus' %}" class="navbar-link">About Us</a>
              </li>
    
              <li>
                <a href="{% url 'stockscreener' %}" class="navbar-link">Watchlist</a>
              </li>
    
              <!-- <li>
                <a href="#contact" class="navbar-link">Contact Us</a>
              </li> -->
    
            </ul>
    
            <div class="header-actions">
              {% if user.is_authenticated %}
              <button type="submit"><a href="/signout" class="header-action-link"> Log Out</a></button>
              {% else %}
              <button type="submit"><a href="/signup" class="header-action-link"> Register</a></button>
              <button type="submit"><a href="/signin" class="header-action-link"> Log In</a></button>
              {% endif%}
            </div>
          </nav>
    
        </div>
      </header>
    

<main>
    <article>
        <section class="watchlist">
            <div class="container"><br><br><br><br><br></div>
            <div class="container">
              
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for symbol.." title="Type in a name">

              <p class="caption"><i>At close: Apr 21 04:59PM MYT</i></p>
                <table id="stocklist">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Last Price (MYR)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.symbol }}</td>
                            <td>{{ stock.name }}</td>
                            <td>{{ stock.lastprice }}</td>
                            <td><a href="{% url 'stock_detail' stock.symbol %}">Details</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No stocks found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br>

            <div class="pagination">
                {% if stocks.has_previous or stocks.has_next %}
                {% if stocks.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ stocks.previous_page_number }}">Previous</a>
                {% endif %}
                
                {% for i in stocks.paginator.page_range %}
                    {% if i == stocks.number %}
                    <a href="#" class="page active">{{ i }}</a>
                    {% elif i > stocks.number|add:'-5' and i < stocks.number|add:'5' %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
    
                {% if stocks.has_next %}
                    <a href="?page={{ stocks.next_page_number }}">Next &rsaquo;</a>
                    <a href="?page={{ stocks.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
                {% endif %}

                
            </div>

            <br>
            <br>
            </div>
            </section>
        
    </article>
</main>

  <!-- Footer -->
  <footer>

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <p class="footer-text">
            Q  I  N  C  A  S  T  S
          </p>

          <p class="footer-text">
            Qincasts is a deep learning architectures genereted forecasts system.
          </p>

          <ul class="social-list">

            <li>
              <a href="https://www.linkedin.com/in/siahwengtze/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-item-title">ABOUT US</p>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="footer-link">Aim</a>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="footer-link">Background</a>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="footer-link">Importance</a>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="footer-link">Objectives</a>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="footer-link">Scope</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-item-title">FEATURES</p>
            </li>

            <li>
              <a href="{% url 'stockscreener' %}" class="footer-link">Watchlist</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-item-title">ARTICLES</p>
            </li>

            <li>
              <a href="https://www.aiche.org/resources/publications/cep/2018/june/introduction-deep-learning-part-1" class="footer-link">Deep Learning Architecures</a>
            </li>

            <li>
              <a href="https://machinelearningmastery.com/gentle-introduction-long-short-term-memory-networks-experts/" class="footer-link">Long Short Term Memory(LSTM) </a>
            </li>

            <li>
              <a href="https://www.sciencedirect.com/topics/computer-science/multilayer-perceptron" class="footer-link">Multilayer Perceptron(MLP)</a>
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">siahwengtze</a>. All Right Reserved
        </p>
      </div>
    </div>

  </footer>

  <script>
      function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("stocklist");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script>
    
</body>
</html>
